.link {
  display: inline-block;
  text-decoration: none;

  &--blue {
    position: relative;
    color: $blue1;
    @include transition(opacity);

    &:hover::after {
      width: 100%;
    }

    &:active {
      opacity: 0.5;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 3px;
      left: 0;
      width: 0;
      height: 2px;
      background-color: $blue1;
      @include transition(width);
    }
  }
}
