.logo {
  display: flex;
  flex-direction: column;
  align-items: center;

  svg {
    display: block;
    width: 132px;
    height: auto;
    margin: 0 0 7px;
    fill: $blue1;

    @include mq(1199) {
      width: 100px;
    }
  }

  &__title {
    margin: 0 0 8px;
    font-family: "Gotham Pro", "Arial", sans-serif;
    font-weight: 900;

    @include mq(1199) {
      font-size: 23px;
    }
  }

  &__info {

    margin: 0;
    font-size: 16px;
    font-weight: 600;

    @include mq(1199) {
      font-size: 14px;
    }
  }
}
