.main-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -5px;
  width: 86.7%;
  font-weight: 600;

  @include mq(1199) {
    width: 633px;
    font-size: 12px;
  }

  &__item {
    margin: 0 5px;
  }

  &__item-link {
    display: block;
    padding: 5px 0;
    color: inherit;

    &::after {
      @include mq(1199) {
        height: 1px;
      }
    }

  }
}
