.main-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -5px;
  width: 86.7%;
  font-weight: 600;

  @include mq($tablet) {
    width: 633px;
    font-size: 12px;
  }

  @include mq($mobile) {
    display: block;
    padding: 25px 0;
    font-size: 18px;
    background-color: $blue3;
  }

  &__item {
    margin: 0 5px;

    @include mq($mobile) {
      display: flex;
      justify-content: center;
    }
  }

  &__item-link {
    display: block;
    padding: 5px 0;
    color: inherit;

    @include mq($mobile) {
      padding: 8px 0;
    }

    &::after {
      @include mq($tablet) {
        height: 1px;
      }

      @include mq($mobile) {
        height: 2px;
      }
    }
  }
}
