.page-header {
  padding: 26px 0 151px;
  color: $blue1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include mq($tablet) {
    padding: 10px 0 30px;
  }

  @include mq($mobile) {
    position: relative;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__top {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 0 114px 12.5%;

    @include mq($tablet) {
      padding: 0 0 70px;
    }

    @include mq($mobile) {
      padding: 0 0 45px;
    }
  }

  &__burger {
    display: none;

    @include mq(767) {
      display: flex;
    }
  }

  &__main-nav-wrapper {
    width: 86.7%;
    transition: max-height 0.25s ease-in-out 0.5s;

    @include mq($tablet) {
      width: 633px;
      margin: 0 auto;
    }

    @include mq($mobile) {
      max-height: 0;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      overflow: hidden;
    }
  }

  &__main-nav {
    padding: 3px 0 0;
  }

  &__language {
    position: relative;
    margin: 0 0 0 auto;

    @include mq($mobile) {
      order: -1;
      margin: 0 auto 0 0;

      .language__list-wrapper {
        right: auto;
        left: 0;
      }
    }
  }

  &__logo {
    margin: 0 0 261px;

    @include mq($tablet) {
      margin: 0 0 115px;
    }

    @include mq($mobile) {
      margin: 0 0 70px;
    }
  }

  &__info {
    width: 64.7%;
    margin: 0;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.58;
    text-align: center;

    @include mq($tablet) {
      font-size: 17px;
    }

    @include mq($mobile) {
      width: 95%;
      font-size: 14px;
      line-height: 1.4;
    }
  }
}
